<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Egood</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>com.egood.control.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupControl</display-name>
    <servlet-name>SignupControl</servlet-name>
    <servlet-class>com.egood.control.SignupControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupControl</servlet-name>
    <url-pattern>/SignupControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductControl</display-name>
    <servlet-name>ProductControl</servlet-name>
    <servlet-class>com.egood.control.ProductControl</servlet-class>
    <init-param>
      <param-name>filepath</param-name>
      <param-value>uploadFile</param-value>
    </init-param>
    <init-param>
      <param-name>temppath</param-name>
      <param-value>temp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductControl</servlet-name>
    <url-pattern>/ProductControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadControl</display-name>
    <servlet-name>UploadControl</servlet-name>
    <servlet-class>com.egood.control.UploadControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadControl</servlet-name>
    <url-pattern>/UploadControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControl</display-name>
    <servlet-name>SearchControl</servlet-name>
    <servlet-class>com.egood.control.SearchControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControl</servlet-name>
    <url-pattern>/SearchControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatagoryControl</display-name>
    <servlet-name>CatagoryControl</servlet-name>
    <servlet-class>com.egood.control.CatagoryControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatagoryControl</servlet-name>
    <url-pattern>/CatagoryControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalControl</display-name>
    <servlet-name>PersonalControl</servlet-name>
    <servlet-class>com.egood.control.PersonalControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalControl</servlet-name>
    <url-pattern>/PersonalControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountControl</display-name>
    <servlet-name>AccountControl</servlet-name>
    <servlet-class>com.egood.control.AccountControl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutControl</servlet-name>
    <servlet-class>com.egood.control.LogoutControl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BannerControl</servlet-name>
    <servlet-class>com.egood.control.BannerControl</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>AccountControl</servlet-name>
    <url-pattern>/AccountControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutControl</servlet-name>
    <url-pattern>/servlet/LogoutControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BannerControl</servlet-name>
        <url-pattern>/BannerControl</url-pattern>
  </servlet-mapping>
</web-app>