
div.outerlayer{
    margin:auto;
    height:auto;
    overflow:hidden;
    /*margin-top:20px;*/
    
    background-color:white;
    width:100%;
 
}


    div.img {
    margin: 15px;
    padding: 5px;
    border: 3px solid #F6F6F6;
    height: 235px;
    width: 200px;
    float: left;
    text-align: center;
}

div.img img {
    
    margin: 5px;
    border: 1px solid #F6F6F6;
    height:180px;
    width:180px;
    
    box-shadow: 0px 0px 0px rgba(0,0,0,.4);
    -webkit-transition: all ease .3s;
    transition: all ease .3s
}

div.img a:hover img {
    border:2px solid #F6F6F6;
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 0px 0px 18px rgba(0,0,0,.5);
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 136px;
    margin: 5px;
}
 


div.maindiv{
    background-color:white;
    height:auto;
    width:84%;
    float:left;
    /*top: 440px;*/
}     
div.maindiv1{
    
    height:auto;
    float:left;
    width:100%;
}
   



div.nav{
    height:auto;
    width:16%;
    background-color:white;
    padding-top:0px;
    top:0px;
    float:left;
}
