


body{
 background:url('../img/login/BG.jpg') repeat;
}

.clear {
	clear: both; 
}

#container{
	background: url('../img/Signup/container.png') no-repeat;
	width: 754px;
	height: 400px;
	padding: 50px 0;
	margin:20px auto;
	#border:1px red solid;
	position:relative;
}

#container h1{
	font-family: Cantarell, Verdana, sans-serif;
	text-align:center;
	font-size:24px;
	text-shadow: 1px 2px 2px #222;
}
#container h2{
	font-family: Cantarell, Verdana, sans-serif;
	text-align:center;
	font-size:20px;
	text-shadow:none;
}

#container span{
	margin-left:10px;
	margin-right:10px;
	color:red;
}

#container input, #container select{
	background: url('../img/Signup/input.png') no-repeat;
    color: #888;
    border: 1px solid #ccc;
	font-family: Cantarell, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 300px;
    height: 35px;
    padding: 0 25px;
    margin: 20px 0;
    float: left;

    border-radius: 6px;
    #-moz-border-radius: 6px;
    #-webkit-border-radius: 6px;
}

#container input.next, #container input.submit{
    background: url('../img/Signup/button.png') no-repeat;
    border: none;
    cursor: pointer;
    width: 85px;
    height: 38px;
    position: relative;
    bottom: 2px;
    left: 615px;
}

#container input.submit{
	background:url('../img/Signup/send.png')
}

#container label{
	color: #666;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    float: right;
    margin: 23px -25px;
	width: 270px;
}

.form { 
	margin: 66px 72px 0 72px; 
}

#container #first, #second{
	display:none;
}

#container #first{
	display:block;
}